* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}


window#waybar {
    background: rgba(22,22,22,0.92);
    color: #f2f4f8;

    border-radius: 12px;
}


#workspaces button {
    padding: 0 8px;
    color: #8d8d8d;
}


#workspaces button.active {
    color: #33b1ff;
}


#clock,
#network,
#pulseaudio,
#battery,
#tray,
#window {
    padding: 0 12px;
}


#window {
    color: #78a9ff;
}
